//overflow
body {
  overflow-x: hidden;
}

.rte-div {
  ul,
  p,
  blockquote,
  ul li {
    color: $text-blue;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;

    @include breakpoint(medium) {
      font-size: 20px;
      line-height: 30px;
    }

    a {
      color: $text-blue;
      font-weight: 300;
      text-decoration: underline;
      transition: all 0.3s ease;
      &:hover {
        color: #1a78b4;
        text-decoration: none;
      }
    }
  }
}

.grid-container .grid-container {
  padding-left: 0;
  padding-right: 0;
}

// Global section spacing and push/pull
.component-wrapper {
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  padding-right: calc(#{rem-calc(map-get($grid-container-gutters, small))} / 2);
  margin-right: calc(-#{rem-calc(map-get($grid-container-gutters, small))} / 2);
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(medium) {
    padding-top: $medium-spacing;
    padding-bottom: $medium-spacing;
    padding-right: calc(
      #{rem-calc(map-get($grid-container-gutters, medium))} / 2
    );
    margin-right: calc(
      -#{rem-calc(map-get($grid-container-gutters, medium))} / 2
    );
  }

  @include breakpoint(large) {
    padding-right: calc(
      #{rem-calc(map-get($grid-container-gutters, large))} / 2
    );
    margin-right: calc(
      -#{rem-calc(map-get($grid-container-gutters, large))} / 2
    );
  }
  &.no-padding {
    padding: 0;
  }

  .no-padding {
    padding: 0 !important;
  }

  &.bg-white {
    background-color: #fff;
  }

  &.bg-grey {
    background-color: #e9e6e4;
  }

  &__video {
    position: relative;
  }
}

.grid-container > .component-wrapper {
  &:last-child:not(:only-child) {
    padding-bottom: calc(#{$small-spacing} * 2);

    @include breakpoint(medium) {
      padding-bottom: calc(#{$medium-spacing} * 2);
    }
  }
}

.grid-container > div {
  &:last-child:not(:only-child) {
    .component-wrapper {
      padding-bottom: calc(#{$small-spacing} * 2);

      @include breakpoint(medium) {
        padding-bottom: calc(#{$medium-spacing} * 2);
      }

      &.adjust-spacing {
        padding-bottom: 0;
      }
    }
  }
}

// CTA style
.cta {
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
  font-size: 0.875rem; //14px
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $black;
  display: inline-block;
  margin-bottom: 2rem;
  @include desktop-fluid-font(14);

  &:hover,
  &:focus-visible {
    font-weight: $font-weight-regular;
  }
}

.no-padding {
  padding: 0 !important;
}

.img-responsive {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
